# Deep Learning
tensorflow==2.20.0

# Core Scientific Stack
numpy>=1.26.4
scipy>=1.11.4
pandas>=2.2.0

# Visualization
matplotlib>=3.8.2
seaborn>=0.13.2

# Jupyter / Notebooks
notebook>=7.1.0

# MLOps / Experiment Tracking
mlflow>=2.11.0
dvc>=3.38.0

# Utilities
tqdm>=4.66.1
joblib>=1.3.2
gdown>=5.1.0
python-box>=7.1.1
PyYAML>=6.0.1
types-PyYAML>=6.0.12
ensure>=1.0.4

# Web / API
Flask>=3.0.0
Flask-Cors>=4.0.0

-e .
